<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-pencil"></i> 应用添加</h3>
            </div>
            <div class="panel-body">
                <form onsubmit="return false;">
                    #if($application.id)
                        <input type="hidden" name="id" value="$!application.id"/>
                    #end
                    <div class="form-group">
                        <label for="applicationName">应用名称</label>
                        <input type="text" name="applicationName" class="form-control" id="applicationName" #if($application.applicationName) value = "$!application.applicationName" #end placeholder="应用名称">
                    </div>
                    <div class="form-group">
                        <label for="applicationCode">应用编码</label>
                        <input type="text" class="form-control" name="applicationCode" id="applicationCode" #if($application.applicationCode) value = "$!application.applicationCode" readonly="true" #end  placeholder="应用编码">
                    </div>
                    #if($application.id)
                        <div class="form-group">
                            <label for="state">状态</label>
                            <select id="state" name="state" class="form-control">
                                <option #if($application.state == 'available')
                                selected="selected" #end value="available">可用</option>
                                <option #if($application.state == 'disables')
                                        selected="selected"#end value="disables">不可用</option>
                            </select>
                        </div>
                    #end
                    <div class="form-group text-warning" id="errorMsg">
                    </div>

                    <button type="submit" id="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#submit').click(function () {
            $.post('/application/saveApplication.json', $('form').serialize(), function (res) {
                if (res.status == 'OK') {
                    window.location.href = '/application/list.htm';
                } else {
                    $('#errorMsg').text(res.message);
                }
            });

        });
    });

</script>
