<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-pencil"></i> 应用添加</h3>
            </div>
            <div class="panel-body">
                <form onsubmit="return false;">
                    <div class="form-group">
                        <label for="applicationCode">应用名称</label>
                        <input type="text" name="applicationCode" class="form-control" id="applicationCode" placeholder="应用名称">
                    </div>
                    <div class="form-group">
                        <label for="applicationName">应用编码</label>
                        <input type="text" class="form-control" name="applicationName" id="applicationName" placeholder="应用编码">
                    </div>
                    <div class="form-group">
                        <label for="state">状态</label>
                        <select id="state" class="form-control">
                            <option>正常</option>
                            <option>隐藏</option>
                        </select>
                    </div>

                    <div class="form-group text-warning">

                            错误
                    </div>


                    <button type="submit" id="submit" class="btn btn-default">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<script type="text/javascript">
    $(document).ready(function () {

        $('#submit').click(function () {
            $.post('url', $('form').serialize(), function (res) {
                console.log(res);
            });

        });
    });

</script>
