<!-- Bootstrap Core CSS -->
<link href="/resources/sbamin/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/resources/sbamin/css/sb-admin.css" rel="stylesheet">
<!-- Morris Charts CSS -->
<link href="/resources/sbamin/css/plugins/morris.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/resources/sbamin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- /#wrapper -->

<!-- bootstrap table-->
<link href="/resources/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet" type="text/css">


<!-- jQuery -->
<script src="/resources/sbamin/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/resources/sbamin/js/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/resources/sbamin/js/plugins/morris/raphael.min.js"></script>


<script src="/resources/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/resources/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>

##<script src="/resources/ehcharts/echarts.min.js"/>
