<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#application"><i class="fa fa-fw fa-wrench"></i> 应用管理 <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="application" class="collapse">
                <li>
                    <a href="/application/list.htm">应用列表</a>
                </li>
                <li>
                    <a href="/application/edit.htm">应用添加</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/alarmLog/list.htm"><i class="fa fa-fw fa-edit"></i> 告警记录</a>
        </li>
        <li>
            <a href="/log/list.htm"><i class="fa fa-fw fa-edit"></i> 模板管理</a>
        </li>
        <li>
            <a href="/log/list.htm"><i class="fa fa-fw fa-edit"></i> 机器管理</a>
        </li>
##        <li>
##            <a href="/log/list.htm"><i class="fa fa-fw fa-edit"></i> 日志查询</a>
##        </li>
##        <li>
##            <a href="javascript:;" data-toggle="collapse" data-target="#log"><i class="fa fa-fw fa-wrench"></i> 应用日志管理 <i class="fa fa-fw fa-caret-down"></i></a>
##            <ul id="log" class="collapse">
##                <li>
##                    <a href="/log/list.htm">日志查询</a>
##                </li>
##                <li>
##                    <a href="#">日志报表统计</a>
##                </li>
##            </ul>
##        </li>
##        <li>
##            <a href="javascript:;" data-toggle="collapse" data-target="#template"><i class="fa fa-fw fa-table"></i> 模板管理 <i class="fa fa-fw fa-caret-down"></i></a>
##            <ul id="template" class="collapse">
##                <li>
##                    <a href="#">模板列表</a>
##                </li>
##                <li>
##                    <a href="#">模板添加</a>
##                </li>
##            </ul>
##        </li>
        #if($pacificWebTool.hasPermission())
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#user"><i class="fa fa-fw fa-arrows-v"></i> 用户管理 <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="user" class="collapse">
                    <li>
                        <a href="/user/userList.htm">用户列表</a>
                    </li>
                    <li>
                        <a href="/user/editUser.htm">用户添加</a>
                    </li>
                </ul>
            </li>
        #end
        #foreach($item in $pacificWebTool.queryAllApplication())

        #end
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#jvmMonitor"><i class="fa fa-fw fa-arrows-v"></i> 应用监控 <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="jvmMonitor" class="collapse">
                #foreach($item in $pacificWebTool.queryAllApplication())
                    <li>
                        <a href="/jvm/jvmDetail.htm?applicationCode=$item.applicationCode">$item.applicationName</a>
                    </li>
                #end
            </ul>
        </li>
    </ul>
</div>