<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alarmService" class="com.pacific.service.impl.AlarmServiceImpl"></bean>
    <bean id="elasticSearchService" class="com.pacific.service.impl.ElasticSearchServiceImpl"></bean>

</beans>
