<div class="col-lg-12">
    <div id="table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="jvmTable" class="table table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="table_info">
                    <thead>
                    <tr role="row">
                        <td class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 30%;"></td>
                        <td class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 70%;"></td>
                    </thead>
                    <tbody>
                    <tr role="row" class="odd">
                        <td>/common/upload.json</td>
                        <td>1000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>