<div class="row">
    <div class="col-lg-12">
        <table id="table" class="table table-bordered" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <td>URL</td>
                <td>访问次数</td>
                <td>最大并发</td>
                <td>平均耗时</td>
                <td>最大耗时</td>
                <td>错误数</td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="error-chart" style="height:350px"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div  style="height:350px">
                                    <table class="table" id="webUrlTable">
                                        <tr>
                                            <td>
                                                2016-05-14 23:22:22
                                            </td>
                                            <td>
                                                sfowfewfefe
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2016-05-14 23:22:22
                                            </td>
                                            <td>
                                                sfowfewfefe
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        table = dataTable({
            selector: '#table',
            ajax: {
                url: "/webUrl/webUrlReport.json",
                type: "POST"
            },
            columns: [
                {
                    orderable: false,
                    width: '30%',
                    data: 'url'
                },
                {
                    orderable: false,
                    width: '15%',
                    data: 'times'
                },
                {
                    orderable: false,
                    width: '15%',
                    data: 'maxConcurrent'
                },
                {
                    orderable: false,
                    width: '15%',
                    data: 'maxTime'
                },
                {
                    orderable: false,
                    width: '15%',
                    data: 'error'
                },
                {
                    orderable: false,
                    width: '8%',
                    render: function () {
                        return "<button class='btn btn-primary' name='detail'>详情</button>";
                    }
                }
            ]
        });



        $('body').on('click', 'table button', function () {
            $('#detail').modal('show');
        });

        $('#detail').on('shown.bs.modal', function (e) {
            var errorChart = echarts.init(document.getElementById('error-chart'));
            var option = {
                title: {
                    text: 'ECharts 入门示例'
                },
                tooltip: {},
                legend: {
                    data: ['销量']
                },
                xAxis: {
                    data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
                },
                yAxis: {},
                series: [{
                    name: '销量',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10, 20]
                }]
            };
            errorChart.setOption(option);
        })

    });

</script>
