<input type="hidden" id="applicationCode" value="$!applicationCode">
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <form class="" id="searchForm" onsubmit="return false;">
                    <div class="row">
                        <div class="form-group" id="clientIp">
                            <label for="" class="col-md-1 text-left">机器列表:</label>
                            <a class="label label-default" data-value="all">all</a>
                            #foreach($item in $machineList)
                                <a class="label label-info" data-value="$item.ip">$item.hostName</a>
                            #end
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" id="timeInternal">
                            <label for="" class="col-md-1 text-left">时间间隔:</label>
                            <a class="label label-default" data-value="tenMinutes">10分钟</a>
                            <a class="label label-info" data-value="thirtyMinutes">30分钟</a>
                            <a class="label label-info" data-value="oneHour">1小时</a>
                            <a class="label label-info" data-value="threeHour">3小时</a>
                            <a class="label label-info" data-value="oneDay">1天</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" id="type">
                            <label for="" class="col-md-1 text-left">类型:</label>
                            <a class="label label-default" data-value="jvmReport">JVM</a>
                            <a class="label label-info" data-value="jvmInfo">概述</a>
                            <a class="label label-info" data-value="url">URL</a>
                            <a class="label label-info" data-value="springMethod">Spring</a>
                            <a class="label label-info" data-value="dataSource">DataSource</a>
                            <a class="label label-info" data-value="sql">SQL</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row" id="resultView">
        </div>
    </div>
</div>

<script src="/resources/ehcharts/echarts.min.js"></script>
<script type="application/javascript">
    var clientIp =  'all';
    var timeInternal = 'tenMinutes'
    var type = 'jvmReport';
    var applicationCode = $('#applicationCode').val();

    postData();
    $("#clientIp a").click(function(){
        clientIp = $(this).attr('data-value');
        $("#clientIp a").attr('class','label label-info');
        $(this).attr('class','label label-default')
        postData();
    });

    $("#timeInternal a").click(function(){
        timeInternal = $(this).attr('data-value');
        $("#timeInternal a").attr('class','label label-info');
        $(this).attr('class','label label-default');
        postData();
    });

    $("#type a").click(function(){
        type = $(this).attr('data-value');
        $("#type a").attr('class','label label-info');
        $(this).attr('class','label label-default');
        postData();
    });

    function postData() {
        $.ajax({
            type : 'POST',
            url : '/jvm/loadHtmlView.json',
            data : {'clientIp' : clientIp, 'timeInternal' : timeInternal , 'type' : type, 'applicationCode' : applicationCode},
            dataType : 'json',
            success : function(data){
                if (data.status == 'OK') {
                    $('#resultView').html(data.data);

                    if (type == 'jvmReport') {
                        loadJVMReport();
                    }

                    if (type == 'jvmInfo') {
                        loadJVMInfoDetail();
                    }

                    if (type == 'url') {
                        loadUrlDetail();
                    }

                    if (type == 'springMethod') {
                        loadSpringMethodDetail();
                    }

                    if (type == 'dataSource') {
                        loadDatasourceDetail();
                    }

                    if (type == 'sql') {
                        loadSqlDetail();
                    }

                } else {

                }
            }
        });

        function loadJVMReport() {
            var headReport = echarts.init(document.getElementById('headReport'));
            var nonHeadReport = echarts.init(document.getElementById('nonHeadReport'));
            var threadReport = echarts.init(document.getElementById('threadReport'));
            var cpuReport = echarts.init(document.getElementById('cpuReport'));
            var memoryReport = echarts.init(document.getElementById('memoryReport'));
            var gcCountReport = echarts.init(document.getElementById('gcCountReport'));
            var gcTimeReport = echarts.init(document.getElementById('gcTimeReport'));
            $.ajax({
                type : 'POST',
                url : '/jvm/report.json',
                data : {'timeInternal' : timeInternal,'clientIp' : clientIp, 'applicationCode' : applicationCode},
                dataType : 'json',
                success : function(data){
                    if (data.status == 'OK') {
                        headReport.setOption(data.data.headReport);
                        nonHeadReport.setOption(data.data.nonHeadReport);
                        threadReport.setOption(data.data.threadReport);
                        cpuReport.setOption(data.data.threadCpuRateReport);
                        memoryReport.setOption(data.data.memoryReport);
                        gcCountReport.setOption(data.data.gcCountReport);
                        gcTimeReport.setOption(data.data.gcTimeReport);
                    }
                }
            });
        }

        function loadJVMInfoDetail() {

        }

        function loadUrlDetail() {

        }

        function loadSpringMethodDetail() {

        }

        function loadDatasourceDetail() {

        }

        function loadSqlDetail() {

        }
    }
</script>

