
<style>
    #sqlErrorTable tr {
        background: white;
        transition: 0.5s;
    }
    #sqlErrorTable tr:hover {
        background: #F0FFF0;
        transition: 0.5s;
    }
    #sqlErrorTable tr td:first-child {
        width: 25%;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <table id="sqlTable" class="table table-bordered" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <td>sql</td>
                <td>访问次数</td>
                <td>最大并发</td>
                <td>平均耗时(ms)</td>
                <td>最大耗时(ms)</td>
                <td>平均抓取</td>
                <td>最大抓取</td>
                <td>平均影响</td>
                <td>最大影响</td>
                <td>错误数</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg-x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id=""></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="sqlInfoChart" style="height:350px"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div  style="height:350px;overflow: scroll">
                                    <table class="table" id="sqlErrorTable">
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="detailChart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id=""></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="sqlInfoChartSingle" style="height:350px"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/resources/ehcharts/echarts.min.js"></script>
<script>
    table = dataTable({
        selector: '#sqlTable',
        url: '/sql/sqlReport.json',
        param : {'applicationCode' : getApplicationCode() , 'hostName' : getHostName() , 'timeInternal' : getTimeInternalParam()},
        columns: [
            {
                orderable: false,
                width: '30%',
                data: 'sql'
            },
            {
                orderable: false,
                width: '5%',
                data: 'count'
            },
            {
                orderable: false,
                width: '5%',
                data: 'concurrentMax'
            },
            {
                orderable: false,
                width: '5%',
                data: 'avgTime'
            },
            {
                orderable: false,
                width: '5%',
                data: 'maxTime'
            },
            {
                orderable: false,
                width: '5%',
                data: 'avgFetchRowCount'
            },
            {
                orderable: false,
                width: '5%',
                data: 'maxFetchRowCount'
            },
            {
                orderable: false,
                width: '10%',
                data: 'avgEffectedRowCount'
            },
            {
                orderable: false,
                width: '10%',
                data: 'maxEffectedRowCount'
            },
            {
                orderable: false,
                width: '10%',
                data: 'errorCount'
            },
            {
                orderable: false,
                width: '10%',
                render: function (data, type, row, meta) {
                    var id = '#detail';
                    if (row.errorCount <= 0) {
                        id = '#detailChart';
                    }
                    return "<button class='btn btn-primary' name='detail' data-toggle='modal' data-target='" + id +  "' data-sqlHash='" + row.sqlHash + "'>详情</button>";
                }
            }
        ]
    });

    $('#detail').on('shown.bs.modal', function (e) {
        var sqlHash = $(e.relatedTarget).attr('data-sqlHash');
        var sqlChart = echarts.init(document.getElementById('sqlInfoChart'));
        $.ajax({
            type : 'POST',
            url : '/sql/sqlDetailReport.json',
            data : {'timeInternal' : getTimeInternalParam(),'hostName' : getHostName(), 'applicationCode' : getApplicationCode(),'sqlHash' : sqlHash},
            dataType : 'json',
            success : function(data){
                if (data.status == 'OK') {
                    sqlChart.setOption(data.data.sqlDetailReport);
                    $('#sqlErrorTable').html(data.data.sqlErrorDetailHtml);
                }
            }
        });
    });
    $('#detailChart').on('shown.bs.modal', function (e) {
        var sqlHash = $(e.relatedTarget).attr('data-sqlHash');
        var sqlChart = echarts.init(document.getElementById('sqlInfoChartSingle'));
        $.ajax({
            type : 'POST',
            url : '/sql/sqlDetailReport.json',
            data : {'timeInternal' : getTimeInternalParam(),'hostName' : getHostName(), 'applicationCode' : getApplicationCode(),'sqlHash' : sqlHash},
            dataType : 'json',
            success : function(data){
                if (data.status == 'OK') {
                    sqlChart.setOption(data.data.sqlDetailReport);
                }
            }
        });
    });


</script>