<div class="row">
    <div class="col-lg-12">
        <table id="urlTable" class="table table-bordered" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <td>URL</td>
                <td>访问次数</td>
                <td>最大并发</td>
                <td>平均耗时</td>
                <td>最大耗时</td>
                <td>错误数</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detail</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="error-chart" style="height:350px"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div  style="height:350px">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                2016-05-14 23:22:22
                                            </td>
                                            <td>
                                                sfowfewfefe
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2016-05-14 23:22:22
                                            </td>
                                            <td>
                                                sfowfewfefe
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/resources/ehcharts/echarts.min.js"></script>
<script>
    table = dataTable({
        selector: '#urlTable',
        url: '/webUrl/webUrlReport.json',
        param : {'applicationCode' : getApplicationCode() , 'clientIp' : getClientIpParam() , 'timeInternal' : getTimeInternalParam()},
        columns: [
            {
                orderable: false,
                width: '30%',
                data: 'url'
            },
            {
                orderable: false,
                width: '15%',
                data: 'total'
            },
            {
                orderable: false,
                width: '15%',
                data: 'concurrentMax'
            },
            {
                orderable: false,
                width: '15%',
                data: 'avgNano'
            },
            {
                orderable: false,
                width: '15%',
                data: 'nanoMax'
            },
            {
                orderable: false,
                width: '15%',
                data: 'errorCount'
            },
            {
                orderable: false,
                width: '8%',
                render: function () {
                    return "<button class='btn btn-primary' name='detail'>详情</button>";
                }
            }
        ]
    });

    $('body').on('click', 'table button', function () {
        $('#detail').modal('show');
    });

    $('#detail').on('shown.bs.modal', function (e) {
        var errorChart = echarts.init(document.getElementById('error-chart'));
        $.ajax({
            type : 'POST',
            url : '/webUrl/webUrlDetailReport.json',
            dataType : 'json',
            success : function(data){
                if (data.status == 'OK') {
                    errorChart.setOption(data.data);
                }
            }
        });
    })


</script>