<script>
    table = dataTable({
        selector: '#jvmTable',
        form: '#searchForm',
        columns: [
            {
                orderable: false,
                width: '30%',
                data: 'url'
            },
            {
                orderable: false,
                width: '15%',
                data: 'times'
            },
            {
                orderable: false,
                width: '15%',
                data: 'maxConcurrent'
            },
            {
                orderable: false,
                width: '15%',
                data: 'maxTime'
            },
            {
                orderable: false,
                width: '15%',
                data: 'error'
            },
            {
                orderable: false,
                width: '8%',
                render: function () {
                    return "<button class='btn btn-primary' name='detail'>详情</button>";
                }
            }
        ]
    });

    $('body').on('click', 'table button', function () {
        $('#detail').modal('show');
    });

    $('#detail').on('shown.bs.modal', function (e) {
        console.log("init chart");
        var errorChart = echarts.init(document.getElementById('error-chart'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data: ['销量']
            },
            xAxis: {
                data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        errorChart.setOption(option);
    })


</script>