<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pacific.mapper.AlarmLogMapper">
  <resultMap id="BaseResultMap" type="com.pacific.domain.entity.AlarmLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
    <result column="application_code" jdbcType="VARCHAR" property="applicationCode" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="error_log_id" jdbcType="BIGINT" property="errorLogId" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
  </resultMap>

  <resultMap id="BaseDetailResultMap" type="com.pacific.domain.dto.AlarmLogDto" extends="BaseResultMap">
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="application_name" jdbcType="VARCHAR" property="applicationName" />
    <result column="log_message" jdbcType="VARCHAR" property="logMessage" />
    <result column="log_host_name" jdbcType="VARCHAR" property="logHostName" />
    <result column="log_file_path" jdbcType="VARCHAR" property="logFilePath" />
  </resultMap>

  <sql id="Base_Column_List">
    id, create_time, update_time, message, application_code, user_id, error_log_id, send_time, 
    channel_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_alarm_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_alarm_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pacific.domain.entity.AlarmLog">
    insert into t_alarm_log (id, create_time, update_time, 
      message, application_code, user_id, 
      error_log_id, send_time, channel_code
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{message,jdbcType=VARCHAR}, #{applicationCode,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{errorLogId,jdbcType=BIGINT}, #{sendTime,jdbcType=TIMESTAMP}, #{channelCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pacific.domain.entity.AlarmLog">
    insert into t_alarm_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="applicationCode != null">
        application_code,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="errorLogId != null">
        error_log_id,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="channelCode != null">
        channel_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="applicationCode != null">
        #{applicationCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="errorLogId != null">
        #{errorLogId,jdbcType=BIGINT},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelCode != null">
        #{channelCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pacific.domain.entity.AlarmLog">
    update t_alarm_log
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="applicationCode != null">
        application_code = #{applicationCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="errorLogId != null">
        error_log_id = #{errorLogId,jdbcType=BIGINT},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelCode != null">
        channel_code = #{channelCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pacific.domain.entity.AlarmLog">
    update t_alarm_log
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=VARCHAR},
      application_code = #{applicationCode,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      error_log_id = #{errorLogId,jdbcType=BIGINT},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      channel_code = #{channelCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryTotalAlarmLog" resultType="java.lang.Long">
    select
      count(1)
    from t_alarm_log al
    left join t_application a
    on
    al.application_code = a.application_code
    left join  t_user u
    on
    al.user_id = u.id
    left join
    t_error_log_record elr
    on
    al.error_log_id = elr.id
    where 1 = 1
    <if test="beginDate != null">
      <![CDATA[ and al.create_time >=  #{beginDate,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="endDate != null">
      <![CDATA[ and al.create_time <  #{endDate,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="keyWords != null">
      and (u.user_name like  CONCAT('%',#{keyWords},'%')
      or u.phone like CONCAT('%',#{keyWords},'%')
      or u.email like CONCAT('%',#{keyWords},'%'))
    </if>
  </select>

  <select id="queryAlarmLog" resultMap="BaseDetailResultMap">
    select
    al.id,
    al.create_time,
    al.update_time,
    al.message,
    al.application_code,
    al.user_id,
    al.error_log_id,
    al.send_time,
    al.channel_code,
    a.application_name,
    u.user_name,
    elr.log_message,
    elr.log_host_name,
    elr.log_file_path
    from t_alarm_log al
     left join t_application a
    on
    al.application_code = a.application_code
    left join  t_user u
    on
    al.user_id = u.id
    left join
    t_error_log_record elr
    on
     al.error_log_id = elr.id
    where 1 = 1
    <if test="beginDate != null">
      <![CDATA[ and al.create_time >=  #{beginDate,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="endDate != null">
      <![CDATA[ and al.create_time <  #{endDate,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="keyWords != null">
      and (u.user_name like  CONCAT('%',#{keyWords},'%')
              or u.phone like CONCAT('%',#{keyWords},'%')
             or u.email like CONCAT('%',#{keyWords},'%'))
    </if>
    order by al.create_time desc
    <include refid="Page.footer"/>
  </select>
  
  <select id="queryTotalByParam">
    select
    <include refid="Base_Column_List" />
    from t_alarm_log
    where error_log_id = #{errorLogId,jdbcType=BIGINT}
      and
       channel_code = #{channelCode,jdbcType=VARCHAR}
  </select>



</mapper>