<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pacific.mapper.AlarmLogMapper" >
  <resultMap id="BaseResultMap" type="com.pacific.domain.entity.AlarmLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="application_id" property="applicationId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="error_log_id" property="errorLogId" jdbcType="BIGINT" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="channel_code" property="channelCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, update_time, message, application_id, user_id, error_log_id, send_time, 
    channel_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_alarm_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_alarm_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pacific.domain.entity.AlarmLog" >
    insert into t_alarm_log (id, create_time, update_time, 
      message, application_id, user_id, 
      error_log_id, send_time, channel_code
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{message,jdbcType=VARCHAR}, #{applicationId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{errorLogId,jdbcType=BIGINT}, #{sendTime,jdbcType=TIMESTAMP}, #{channelCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pacific.domain.entity.AlarmLog" >
    insert into t_alarm_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="applicationId != null" >
        application_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="errorLogId != null" >
        error_log_id,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="channelCode != null" >
        channel_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="applicationId != null" >
        #{applicationId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="errorLogId != null" >
        #{errorLogId,jdbcType=BIGINT},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelCode != null" >
        #{channelCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pacific.domain.entity.AlarmLog" >
    update t_alarm_log
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="applicationId != null" >
        application_id = #{applicationId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="errorLogId != null" >
        error_log_id = #{errorLogId,jdbcType=BIGINT},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelCode != null" >
        channel_code = #{channelCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pacific.domain.entity.AlarmLog" >
    update t_alarm_log
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=VARCHAR},
      application_id = #{applicationId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      error_log_id = #{errorLogId,jdbcType=BIGINT},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      channel_code = #{channelCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>