<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pacific.mapper.WebUrlMapper" >
  <resultMap id="BaseResultMap" type="com.pacific.domain.entity.WebUrl" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="application_code" property="applicationCode" jdbcType="VARCHAR" />
    <result column="client_ip" property="clientIp" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="BIGINT" />
    <result column="concurrent_max" property="concurrentMax" jdbcType="INTEGER" />
    <result column="nano_total" property="nanoTotal" jdbcType="BIGINT" />
    <result column="nano_max" property="nanoMax" jdbcType="BIGINT" />
    <result column="error_time" property="errorTime" jdbcType="TIMESTAMP" />
    <result column="is_error" property="isError" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pacific.domain.entity.WebUrl" extends="BaseResultMap" >
    <result column="error_msg" property="errorMsg" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, application_code, client_ip, create_time, update_time, url, count, concurrent_max, 
    nano_total, nano_max, error_time, is_error
  </sql>
  <sql id="Blob_Column_List" >
    error_msg
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_web_url
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_web_url
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pacific.domain.entity.WebUrl" >
    insert into t_web_url (id, application_code, client_ip, 
      create_time, update_time, url, 
      count, concurrent_max, nano_total, 
      nano_max, error_time, is_error, 
      error_msg)
    values (#{id,jdbcType=BIGINT}, #{applicationCode,jdbcType=VARCHAR}, #{clientIp,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{url,jdbcType=VARCHAR}, 
      #{count,jdbcType=BIGINT}, #{concurrentMax,jdbcType=INTEGER}, #{nanoTotal,jdbcType=BIGINT}, 
      #{nanoMax,jdbcType=BIGINT}, #{errorTime,jdbcType=TIMESTAMP}, #{isError,jdbcType=VARCHAR}, 
      #{errorMsg,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pacific.domain.entity.WebUrl" >
    insert into t_web_url
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applicationCode != null" >
        application_code,
      </if>
      <if test="clientIp != null" >
        client_ip,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="concurrentMax != null" >
        concurrent_max,
      </if>
      <if test="nanoTotal != null" >
        nano_total,
      </if>
      <if test="nanoMax != null" >
        nano_max,
      </if>
      <if test="errorTime != null" >
        error_time,
      </if>
      <if test="isError != null" >
        is_error,
      </if>
      <if test="errorMsg != null" >
        error_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="applicationCode != null" >
        #{applicationCode,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null" >
        #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=BIGINT},
      </if>
      <if test="concurrentMax != null" >
        #{concurrentMax,jdbcType=INTEGER},
      </if>
      <if test="nanoTotal != null" >
        #{nanoTotal,jdbcType=BIGINT},
      </if>
      <if test="nanoMax != null" >
        #{nanoMax,jdbcType=BIGINT},
      </if>
      <if test="errorTime != null" >
        #{errorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isError != null" >
        #{isError,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null" >
        #{errorMsg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pacific.domain.entity.WebUrl" >
    update t_web_url
    <set >
      <if test="applicationCode != null" >
        application_code = #{applicationCode,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null" >
        client_ip = #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=BIGINT},
      </if>
      <if test="concurrentMax != null" >
        concurrent_max = #{concurrentMax,jdbcType=INTEGER},
      </if>
      <if test="nanoTotal != null" >
        nano_total = #{nanoTotal,jdbcType=BIGINT},
      </if>
      <if test="nanoMax != null" >
        nano_max = #{nanoMax,jdbcType=BIGINT},
      </if>
      <if test="errorTime != null" >
        error_time = #{errorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isError != null" >
        is_error = #{isError,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null" >
        error_msg = #{errorMsg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pacific.domain.entity.WebUrl" >
    update t_web_url
    set application_code = #{applicationCode,jdbcType=VARCHAR},
      client_ip = #{clientIp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      count = #{count,jdbcType=BIGINT},
      concurrent_max = #{concurrentMax,jdbcType=INTEGER},
      nano_total = #{nanoTotal,jdbcType=BIGINT},
      nano_max = #{nanoMax,jdbcType=BIGINT},
      error_time = #{errorTime,jdbcType=TIMESTAMP},
      is_error = #{isError,jdbcType=VARCHAR},
      error_msg = #{errorMsg,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pacific.domain.entity.WebUrl" >
    update t_web_url
    set application_code = #{applicationCode,jdbcType=VARCHAR},
      client_ip = #{clientIp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      count = #{count,jdbcType=BIGINT},
      concurrent_max = #{concurrentMax,jdbcType=INTEGER},
      nano_total = #{nanoTotal,jdbcType=BIGINT},
      nano_max = #{nanoMax,jdbcType=BIGINT},
      error_time = #{errorTime,jdbcType=TIMESTAMP},
      is_error = #{isError,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>