<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> 日志列表</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-inline" id="searchForm" onsubmit="return false;">
                            <div class="form-group">
                                <label for="index">应用编号</label>
                                <select class="form-control" id="index" name="index">
                                    #foreach($item in $applicationList)
                                        <option value="$item.applicationCode">$item.applicationName</option>
                                    #end
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="level">日志级别</label>
                                <select class="form-control" id="level" name="level">
                                    <option>all</option>
                                    <option>debug</option>
                                    <option>info</option>
                                    <option>error</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message">日志message关键字</label>
                                <input type="email" class="form-control" name="message" id="message" placeholder="应用编码">
                            </div>
                            <button type="submit" id="searchButton" class="btn btn-default">查找</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>应用编码</th>
                                <th>日志产生时间</th>
                                <th>日志级别</th>
                                <th>日志message</th>
                                <th>日志堆栈</th>
                                <th>日志产生机器</th>
                                <th>日志产生文件</th>
                                <th>日志产生线程</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<script type="text/javascript">
    $(document).ready(function () {

        table = $('#table').DataTable({
            language: Common.language,
            serverSide: true,
            searching: false,
            lengthChange: false,
            autoWidth: false,
            ajax: function (data, callback, settings) {
                var orderLength = data.order.length;
                var sortProperty = orderLength == 0 ? '' : settings.aoColumns[data.order[0].column].sort || data.columns[data.order[0].column].data;
                var sortDirection = orderLength == 0 ? '' : data.order[0].dir;
                $.ajax({
                    type: "post",
                    url: '/log/list.json?' + $('#searchForm').serialize(),
                    dataType: "json",
                    data: {
                        'pageSize': data.length,
                        'currentPage': data.start / data.length + 1,
                        'property': sortProperty,
                        'direction': sortDirection,
                    },
                    success: function result(res) {
                        var data = res.data;
                        callback({
                            recordsTotal: data.totalCount,
                            recordsFiltered: data.totalCount,
                            data: data.data
                        });
                    },
                    error: function () {
                        console.log('请求失败')
                    }
                })
            },

            columnDefs: [
                {
                    defaultContent: '',
                    targets: '_all'
                }],
            order: [],
            columns: [
                {
                    data: 'index',
                },
                {
                    data: 'timestamp',
                    sort: 'timestamp'
                },
                {
                    data: 'level',
                },
                {
                    data: 'message',
                },
                {
                    data: 'stackTrace',
                },
                {
                    data: 'host',
                },
                {
                    data: 'path',
                },
                {
                    data: 'threadName',
                },
                {
                    render: function () {
                        return "<button class='btn btn-primary'>查看</button>";
                    }
                }
            ]
        });


        $('#table tbody').on('click', 'button', function () {
            var data = table.row($(this).parents('tr')).data();
            console.log(data);
            alert(data.id + " 的应用名:" + data.applicationName);
        });


        $('#searchButton').click(function () {
            table.ajax.reload();
        });

    });

</script>
