<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>pacific分布式日志监控平台</title>
    #parse("/WEB-INF/common/common.vm")
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        #parse("/WEB-INF/common/header.vm")
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        #parse("/WEB-INF/common/left.vm")
        <!-- /.navbar-collapse -->
    </nav>

     $body
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

</html>
