<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>pacific监控平台</title>
    #parse("/WEB-INF/common/common.vm")
    <script type="text/javascript">
        var clientIp = 'all';
        var timeInternal = 'tenMinutes';
        var applicationCode = getApplicationCode();
        $(document).ready(function () {
            $("#clientIp a").click(function () {
                var url = '/jvm/jvmDetail.htm?type=' + getTypeParam() + '&applicationCode=' + applicationCode + '&clientIp=' + $(this).attr('data-value')  + '&timeInternal=' + getTimeInternalParam();
                window.location.href = url;
            });

            $("#timeInternal a").click(function () {
                var url = '/jvm/jvmDetail.htm?type=' + getTypeParam() + '&applicationCode=' + applicationCode + '&clientIp=' + getClientIpParam()  + '&timeInternal=' + $(this).attr('data-value');
                window.location.href = url;
            });

            $('#type a').click(function(){
                var url = '/jvm/jvmDetail.htm?type=' + $(this).attr('data-value') + '&applicationCode=' + applicationCode + '&clientIp=' + getClientIpParam()  + '&timeInternal=' + getTimeInternalParam();
                window.location.href = url;
            });

            $("#clientIp a[data-value='"+ getClientIpParam() +"']").attr('class', 'label label-default');

            $("#timeInternal a[data-value='"+ getTimeInternalParam() +"']").attr('class', 'label label-default');

            $("#type a[data-value='"+ getTypeParam() +"']").attr('class', 'label label-default');
        });

        function buildRequestUrl(obj) {
            clientIp = getClientIpParam();
            timeInternal = getTimeInternalParam();
            var url = '/jvm/jvmDetail.htm?type=' + $(obj).attr('data-value') + '&applicationCode=' + applicationCode + '&clientIp=' + clientIp + '&timeInternal=' + timeInternal;
            return url;
        }
    </script>
</head>
<body>
<div>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        #parse("/WEB-INF/common/header.vm")
    </nav>

    <!--content-->
    <div id="page-wrapper">
        <div class="container-fluid">
            #parse("/WEB-INF/common/crumb.vm")
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="" id="searchForm" onsubmit="return false;">
                                <div class="row">
                                    <div class="form-group" id="clientIp">
                                        <label for="" class="col-md-1 text-left">机器列表:</label>
                                        <a class="label label-info" data-value="all">all</a>
                                        #foreach($item in $pacificWebTool.queryMachineList())
                                            <a class="label label-info" data-value="$item.ip" data-host="$item.hostName">$item.hostName</a>
                                        #end
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" id="timeInternal">
                                        <label for="" class="col-md-1 text-left">时间间隔:</label>
                                        <a class="label label-info" data-value="tenMinutes">10分钟</a>
                                        <a class="label label-info" data-value="thirtyMinutes">30分钟</a>
                                        <a class="label label-info" data-value="oneHour">1小时</a>
                                        <a class="label label-info" data-value="threeHour">3小时</a>
                                        <a class="label label-info" data-value="oneDay">1天</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group" id="type">
                                        <label for="" class="col-md-1 text-left">类型:</label>
                                        <a class="label label-info" data-value="jvmReport">JVM</a>
                                        <a class="label label-info" data-value="jvmInfo">概述</a>
                                        <a class="label label-info" data-value="webUrl">URL</a>
                                        <a class="label label-info" data-value="springMethod">Spring</a>
                                        <a class="label label-info" data-value="druidDatasource">DataSource</a>
                                        <a class="label label-info" data-value="sql">SQL</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    $body
                </div>
            </div>
        </div>
    </div>
    <!--content-->
    <!-- Modal -->
    <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div id="error-chart" style="height:350px"></div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div  style="height:350px">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    2016-05-14 23:22:22
                                                </td>
                                                <td>
                                                    sfowfewfefe
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    2016-05-14 23:22:22
                                                </td>
                                                <td>
                                                    sfowfewfefe
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/resources/laydate/laydate.js"></script>
</div>
</body>
</html>