<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--<bean id="jobDetail"-->
          <!--class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--<property name="group" value="job_work" />-->
        <!--<property name="name" value="job_work_name" />-->
        <!--<property name="concurrent" value="false" />-->
        <!--<property name="targetObject">-->
            <!--<ref bean="elasticSearchService" />-->
        <!--</property>-->
        <!--<property name="targetMethod">-->
            <!--<value>loadElasticSearchErrorLog</value>-->
        <!--</property>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 调度触发器 &ndash;&gt;-->
    <!--<bean id="myTrigger"-->
          <!--class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
        <!--<property name="name" value="work_default_name" />-->
        <!--<property name="group" value="work_default" />-->
        <!--<property name="jobDetail">-->
            <!--<ref bean="jobDetail" />-->
        <!--</property>-->
        <!--<property name="cronExpression">-->
            <!--<value>0/5 * * * * ?</value>-->
        <!--</property>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 调度工厂 &ndash;&gt;-->
    <!--<bean id="scheduler"-->
          <!--class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
        <!--<property name="triggers">-->
            <!--<list>-->
                <!--<ref bean="myTrigger" />-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
</beans>